div.mgc-header{
    background-color: #f8f9fa!important;
    .navbar{
        .navbar-brand{
            width: 40vw;
            text-align: center;
        }
    }
    .mr-auto.navbar-nav{
        width: 100%;
    }
}